<div class="card">
  <div class="card-body">
    <div class="post-content">
      <app-profile-picture class="profile-picture" [url]="post.creator?.profilePicture"></app-profile-picture>
      <div class="content">
        <div *ngIf="post.ready">
          <a routerLink='/profile/{{post.creator.username}}'><strong>{{post.creator.fullName}}</strong></a>
          <span *ngIf="post.creator.username != post.wall.username">
            &gt; <a routerLink='/profile/{{post.wall.username}}'><strong>{{post.wall.fullName}}</strong></a>
          </span>
          <div class="timestamp">
            <small> {{ timeString(post.createdAt) }}</small>
          </div>
          <div *ngIf="post.type == 'friendship'">
            {{ post.creator.fullName }} is now friends with <a
              routerLink='/profile/{{post.reference.username}}'>{{ post.reference.fullName }}</a>.
          </div>
          <div *ngIf="post.type == 'profilePicture'">
            {{ post.creator.fullName }} added a new profile picture.
          </div>
          <div *ngIf="post.type == 'affiliation-added'">
            {{ post.creator.fullName }} is now affiliated with <a routerLink='/affiliation/{{ post.reference }}'>{{ post.reference }}</a>.
          </div>
          <div *ngIf="post.type == 'affiliation-removed'">
            {{ post.creator.fullName }} is no longer affiliated with <a routerLink='/affiliation/{{ post.reference }}'>{{ post.reference }}</a>.
          </div>
          <div *ngIf="post.type == 'interest-added'">
            {{ post.creator.fullName }} is now interested in <a routerLink='/interest/{{ post.reference }}'>{{ post.reference }}</a>.
          </div>
          <div *ngIf="post.type == 'interest-removed'">
            {{ post.creator.fullName }} is no longer interested in <a routerLink='/interest/{{ post.reference }}'>{{ post.reference }}</a>.
          </div>
          <div *ngIf="post.type == 'about-changed'">
            {{ post.creator.fullName }} add a new information.
          </div>
          <div>{{ post.content }}</div>
        </div>
      </div>
      <div *ngIf="!post.ready" class="flex-row">
        <app-loading></app-loading>
      </div>
    </div>
    <div *ngIf="post.picture">
      <div class="spacer"></div>
      <img class="picture" [src]="post.picture" />
    </div>
    <div class="spacer"></div>
    <div *ngIf="reactions != null" class="card-actions">
      <span class="reactions">
        <span *ngFor="let reaction of allReactions">
          <span *ngIf="countReactions(reaction.type) > 0" [ngStyle]="{color: reaction.color}">
            {{ countReactions(reaction.type) }}
            <fa-icon [icon]="reaction.icon"></fa-icon> &nbsp;
          </span>
        </span>
        <span *ngIf="reactions.length == 0">No reactions yet</span>
      </span>
      <div class="btn-group" role="group" aria-label="Reactions">

        <button *ngFor="let reaction of allReactions" (click)="react(reaction.type)" class="btn"
          [ngClass]="(getReaction()?.type == reaction.type)?'btn-dark':'btn-light'">
          <span [ngStyle]="{color: reaction.color}">
            <fa-icon [icon]="reaction.icon"></fa-icon>
          </span>
        </button>
      </div>
    </div>
    <div *ngIf="children && children.length > 0">
      <div *ngFor="let comment of children">
        <div class="spacer"></div>
        <div class="post-content">
          <app-profile-picture class="profile-picture" [size]="'48px'" [url]="comment.creator.profilePicture">
          </app-profile-picture>
          <div>
            <div>
              <a routerLink='/profile/{{comment.creator.username}}'><strong>{{comment.creator.fullName}}</strong></a>
            </div>
            <div class="timestamp">
              <small> {{ timeString(comment.createdAt) }}</small>
            </div>
            <div>
              {{comment.content}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="children != null">
      <div class="spacer"></div>
      <div class="input-group mt-3">
        <input type="text" class="form-control" [(ngModel)]="comment" placeholder="Add a new comment..."
          aria-label="Comment" on-keyup="$event.keyCode == 13 && addComment()">
        <div class="input-group-append">
          <button *ngIf = '!commenting' class="btn btn-outline-primary" type="button" (click)="addComment()">Comment</button>
          <button *ngIf="commenting" class="btn btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Commenting ...
          </button>
        </div>

      </div>
    </div>


  </div>
</div>
